[Unit]
Description=qUPS guard service.
After=network.target getty.target

[Service]
Type=simple
ExecStart=/home/john/qups-guard/spec/RaspberryPi5/qups-guard2-ha --config /home/john/qups-guard/qups-guard2-ha.json
Restart=on-failure
TimeoutSec=3

[Install]
WantedBy=multi-user.target




